&i2c0{
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
oemph:oemph@65{
		compatible = "atlas,oemph";
		status = "okay";
		reg = <0x65>;
	};
 };
		
